
CDEM1/Hands-On Challenge The Secure Data Landing Zone/IAC/aa.yml
CDEM1/Hands-On Challenge The Secure Data Landing Zone/Assessment Report.md
CDEM1/lab 1/module.md
CDEM1/lab 1/set.txt
CDEM1/lab 1/Module 1.1.pdf
CDEM1/lab 2/Module 1.2.pdf
CDEM1/lab 2/module 2.md
CDEM2/Hands-On Challenge/venv
